<p>
  <strong>List:</strong>
  <%= @list.name%>
</p>



<% @list.tasks.each do |task| %>
  <p>
    <input type="checkbox" name="#{task.name}" value="#{task.id}"> <%= task.name %>
    <%= link_to 'Delete task', [task.list, task],
                 method: :delete,
                 data: { confirm: 'Are you sure?' } %>
    <br>
    </p>
<% end %> 


<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
$(document).ready(function(){
  $("#hide").click(function(){
    $("div").hide();
  });
  $("#show").click(function(){
    $("div").show();
  });
});
</script>
</head>
<body>
  <div class="div">
    <h2>Add some tasks:</h2>
     <%= form_for([@list, @list.tasks.build]) do |f| %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
  
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
<button id="hide">Close</button>
<button id="show">Add a new task</button>
</body>
</html>

  




<%= link_to "My List", controller: "lists" %>