<p>
  <strong>List:</strong>
  <%= @list.name%>
  <%= link_to "My List", controller: "lists" %>
</p>
 <%= link_to 'Edit', edit_list_url(@list.id) %>



<div class="tasks-not-completed">
  <% @list.tasks.each do |task| %>
    <% if task.completed == false %>
      <p class="item-task">
        <input type="checkbox" name="#{task.name}" value="#{task.id}" data-list-id="<%= @list.id %>"         data-task-id="<%= task.id %>"> <%= task.name %>
        <%= link_to 'Delete task', [task.list, task],
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
        <br>
      </p>
    <% end %>   
  <% end %> 
</div>



<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script>
  $(document).ready(function(){
    $("#hide").click(function(){
      $("div.add-task").hide();
    });
    $("#show").click(function(){
      $("div.add-task").show();
    });
  });
</script>

</head>
<body>
  <div class="add-task">
    <h2>Add some tasks:</h2>
     <%= form_for([@list, @list.tasks.build]) do |f| %>
      <p>
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </p>
  
      <p>
        <%= f.submit %>
      </p>
    <% end %>
  </div>
<button id="hide">Close</button>
<button id="show">Add a new task</button>




</body>
</html>

<div class="tasks-is-completed">
  <% @list.tasks.each do |task| %>
    <% if task.completed == true %>
      <p class="item-task">
        <input type="checkbox" name="<%= task.id %>" value="<%= task.name %>" data-list-id="<%= @list.id %>"         data-task-id="<%= task.id %>" checked="checked"> <%= task.name %>
        <%= link_to 'Delete task', [task.list, task],
                     method: :delete,
                     data: { confirm: 'Are you sure?' } %>
        <br>
      </p>
    <% end %>   
  <% end %> 
</div>






